@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2" style="text-shadow: 3px 3px 4px black">books.NET</h1>
    <p class="display-4">
        "Czytanie książek to najpiękniejsza zabawa, jaką sobie ludzkość wymyśliła"
    </p>
</div>